.our-services{

/*    article:nth-of-type(even){
        display: flex;
        .our-services-item-text{
          order: 2;
        }
    }*/
h2{
    font-family: $Bodoni;
}

.our-services-item-text{
    h1{
        width: 80%;
        margin-left: 17%;
    }  

}

.learn-more-btn{
    width: 30%;
    margin-left: 17%;
    line-height: 15px !important;
    font-size: 14px !important;
    display: inline-block;
    border: 1px solid $primary;

    &:hover{
        background-color: $primary;
        color: #fff;
        transition: 0.4s;

    }
}


}


@media(max-width:768px){
    .our-services{

        .our-services-item-text{
            h1{
                padding-top: 35px;
                font-size: 3rem;
                line-height: 3.4rem;
            }
        }
    }
}


@media(min-width:768px){
    .our-services{

    
        
  /*regulisanje redosleda item-a u svakom drugom article-u*/
    article:nth-of-type(even){
        display: flex;
        .our-services-item-text{
          order: 2;
        }
    }
    
    
    
        .our-services-item-text{
            h1{
                padding-top: 140px;
            }  
        }
    }

    .learn-more-btn{
        width: 30%;
        margin-left: 17%;
        display: inline-block;
        border: 1px solid $primary;

        &:hover{
            background-color: $primary;
            color: #fff;
            transition: 0.4s;
        }
    }


}

@media(min-width:768px){      
    .our-services{

        .our-services-item-text{
            h1{
                padding-top: 85px;
                font-size: 3rem;
                line-height: 3.6rem;
            }
        }
    }
}

@media(min-width:992px){
    .our-services{

        .our-services-item-text{
            h1{
                padding-top: 100px;
                font-size: 3.2rem;
                line-height: 4rem;
            }
        }
    }
}

@media(min-width:1200px){
    .our-services{

        .our-services-item-text{
            h1{
                padding-top: 140px;
                width: 80%;
                margin-left: 17%;
                font-size: 3.6rem;
                line-height: 4.4rem;
            }
        }
    }
}